// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


.active {
    opacity: 1;
}

.non-active {
    opacity: 0.5;
}

.gradient-button {
    background: linear-gradient(to left, #ff8a00, #e52e71);
    color: white;
    border: none;
    outline: none;
    transition: background 0.3s ease;
    font-family: 'Times New Roman', 'sans-serif';
    font-size: 22px;
}

.gradient-button:hover,
.gradient-button:active {
    color: white !important;
}




